body {
  margin: 10px;
}
/*这个规则选择了 <article> 元素的第一个子元素(first-child)*/
article :first-child {
  font-size: 140%;
  font-style: italic;
  font-weight: bold;
}
/*第一个元素*/
article p:first-of-type {
  font-size: 140%;
  font-style: italic;
  font-weight: bold;
}
article p:last-of-type {
  font-size: 140%;
  font-style: italic;
  font-weight: bold;
}
article :last-child {
  font-size: 140%;
  font-style: italic;
  font-weight: bold;
}
/*nth-child(odd)就是选择列表中odd单数行even为双数行*/
ol li:nth-child(even) {
  color: deeppink;
}
/*。
a:visited 表示已访问链接的状态。这是指用户点击过并访问过的链接。在这个状态下，链接文本的颜色将设置为"color: dodgerblue;"，也就是一种蓝色。
a:link 表示未访问链接的状态。这是指用户尚未点击或访问的链接。然而，这里的a:link可能会被覆盖，因为通常情况下，未访问的链接会默认显示为蓝色。这行代码可以用来确保未访问的链接在其他样式规则中被重写时仍然保持为蓝色。
没有变蓝由于这个超链接的链接是被点击过的，想要变蓝可以搞一个没有被点击过的链接，或者删掉直接引用 a:visited*/
a:visited a:link {
  color: dodgerblue;
}
/*当鼠标悬浮在上面是会变色*/
a:hover {
  color: deeppink;
}
