body {
  margin: 10px;
}
/* 这里面的*=为属性选择器 选择关键词  */
a[href*="google"] {
  color: orange;
}
/*另外还有 ^=
a[href^="htpps"] {
  color: orange;
}表示搜索开头信息的所以东西*/
/*在#product  p中间可以加>,+,~ */
#product p {
  color: orange;
}
