.container {
  display: flex;
  flex-direction: column;
}
.box {
  background: gold;
  padding: 1rem;
}
/*:nth-of-type(2)这样会找到第二个类名为box的元素*/
.box:nth-of-type(2) {
  background: dodgerblue;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}
