/*x主轴对齐方式justify-content y正交轴对齐元素方式align-items*/

.container {
  border: 3px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.box {
  /*设置主轴初始尺寸,会覆盖width*/
  flex-basis: 50rem;
  /*收缩尺寸*/
  flex-shrink: 1;
  width: 5rem;
  height: 5rem;
  background-color: gold;
  margin: 1rem;
}
.box-one {
  flex-shrink: 0;
  /*align-self这个是自对齐 它是对弹性盒子内的元素设置的，
    而不是对弹性盒子容器 它会覆盖之前设置好的正交轴对齐属性*/
  align-self: flex-start;
}

/*以下属性都是在设定在弹性盒子内元素的，而不是弹性盒子容器*/
/*flex-basis是来设置每个元素的大小的*/
/*flex-grow弹性增长属性设置增加的系数，flex-shrink 弹性收缩设置收缩系数*/
/*flex*/
