body {
  margin: 10px;
  /*默认情况下，块级元素的宽度是100% 高度为0*/
}
.box {
  width: 50rem;
  /*vh表示垂直视域的高度 vw表示视域宽度 width:50vw*/
  height: 100vh;
  background-color: gold;
  border-top: 3px solid orange;

  /*em（emphasized text）：

"em" 是相对于父元素的字体大小来定义文本大小或元素尺寸的单位。
如果你将一个元素的字体大小设置为1em，它将等于其父元素的字体大小。
例如，如果父元素的字体大小为16像素（px），那么子元素设置为1em将等于16像素，设置为2em将等于32像素。
    rem（root em）：

"rem" 也是相对于字体大小来定义文本大小或元素尺寸的单位，但它不是相对于父元素的字体大小，
而是相对于根元素（通常是 <html> 标签）的字体大小。
由于 "rem" 是相对于根元素的字体大小，它在整个页面中具有一致的基准，不受父元素字体大小的影响。
例如，如果根元素的字体大小为16像素（px），那么无论元素嵌套多深，设置为1rem将等于16像素。*/
}
