body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
}

.container {
  perspective: 200px;
}

/*3D变化就是在Z轴上移动  需要调用透视规则，perspective()来定义一个虚拟空间 
  如果在perspective(200px) 表示 屏幕到我们眼睛的距离是200像素*/

/*正确的方式是使用空格分隔两个类名，以表示嵌套关系 .container 和 .box之间需要有空格*/
.container:hover .box {
  /*这个旋转表示在Z轴旋转了45度*/
  transform: rotateY(45deg);
  /*默认情况下该盒子的中心点在中间,我们可以改变它的中心点的位置
      第一个参数为x轴偏移值 第二个为y轴偏移值*/
  transform-origin: 0 50%;
}
.container:hover .box-special {
  transform: rotateX(45deg);
}
