body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  /*注意我们是给盒子加样式，而不是给悬停伪类 transition 过渡属性*/
  /*后面有一个函数 ，默认是linear函数， 还有ease-in渐入函数先慢后快 ease-out渐出函数先快后慢*/
  /*后面还可以添加一个延迟属性，就是说我可以在悬停1秒后才开始动画  直接在第四参数写 1s 就可以了 */
  transition: transform 0.5s, background 0.5s;
}

.box:hover {
  transform: rotate(45deg) translateX(50px);
  background: dodgerblue;
}
