body {
  background: url(../../images/bg-sanfrancisco.jpg);
  background-repeat: no-repeat;
  /* 第一个是水平调节值 正数表示向右，负数表示向左，第二个是垂直调节值 正数表示向下，负数表示向上
   background-position: 100% 200px;*/
  /* 宽 高 */
  background-size: cover;
  /*当我们拖动屏幕的时候，背景也跟着动了，所以我们要用到下面这个属性
   想让图片不跟着我们动，用fixed*/
  background-attachment: fixed;
  height: 300vh;
}
