body {
  margin: 10px;
  /*设置元素字体 里面填的是通用名称，让浏览器自己去决定使用什么字体*/
  /*网络安全字体*/
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
p {
  /*设置字体粗细*/
  font-weight: bold;
  /*设置字体风格  initial为斜体*/
  font-style: initial;
  font-size: medium;
  color: #333;
}
/*当你要启动新设计的时候，请访问type-scale.com*/
